{% extends base %}

{% block contents %}

    <h1>Impact de la crise du COVID-19 sur les jeunes en France</h1>

    <div>
        {{ embed(roots.main_layout) }}

        <h2>Taux de chômage en France selon le sexe et l'âge</h2>
        <iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/bed9522f-f416-4494-a850-415a4d459b26/00008-14556ebb-b3de-42e0-8c34-9877f4d9c134?height=83" height="400" width="1600"></iframe>

        <h2>Natalité en France</h2>
        <iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/2e3c6dc4-02bc-4c5c-a96c-038dfecc1bc9/00007-a8ccc541-a491-4a17-b26c-94ac4c64fe33?height=43" height="400" width="1600"></iframe>

        <h2>Nombre de bénéficiaires des aides spécifiques ponctuelles à destination des étudiants en France</h2>
        <iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/05446f56-2bad-4d61-b0de-552343f519ef/00012-e02ad1b2-0078-45c1-b7ef-610995c27508?height=83" height="400" width="1600"></iframe>

        <h2>Pourcentage de jeunes (18-29 ans) en France ayant confiance en leur avenir</h2>
        <iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/05446f56-2bad-4d61-b0de-552343f519ef/00012-39f16712-415c-4c0a-b6e3-181b4b7984ad?height=43" height="400" width="1600"></iframe>

        <h2>Dépenses de consommation finale en pourcentage par rapport à l'année précédente</h2>
        <iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/d5ed1930-82d0-4538-9b3f-3d3bf2d4c29c/00011-99edb63e-1fda-4738-9886-5ef38fa0fc38?height=43" height="400" width="1600"></iframe>
    </div>


{% endblock %}

{% block preamble %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
  body {
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: #2F2F2F;
  }
</style>
{% endblock %}

{#<iframe title="Embedded cell output" src="https://embed.deepnote.com/6579741a-7e9c-47da-9912-085ba6e2d6d2/2e3c6dc4-02bc-4c5c-a96c-038dfecc1bc9/00007-a8ccc541-a491-4a17-b26c-94ac4c64fe33?height=800" height="800" width="800"/>#}